@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-ExtraBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@layer base {
    body {
        @apply relative antialiased text-base text-white bg-neutral-900;
    }

    a,
    label {
        @apply inline-block;
    }

    h1 {
        @apply h1;
    }

    h2 {
        @apply h2;
    }

    h3 {
        @apply h3;
    }

    h4 {
        @apply h4;
    }

    h5 {
        @apply h5;
    }

    h6 {
        @apply h6;
    }

    p,
    small {
        @apply block;
    }

    strong {
        @apply font-semibold;
    }

    span {
        @apply block;
    }

    img,
    svg {
        @apply w-full h-full;
    }

    input,
    textarea {
        @apply py-8 lg:py-[12px] border-b border-neutral-600 outline-none bg-white;
    }

    textarea {
        @apply h-200 max-h-240 min-h-96;
    }
}
