---
import { getEntry } from 'astro:content';
import NavbarLogo from './NavbarLogo.astro';
import LanguagePicker from '../ui/LanguagePicker.astro';
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const github = await getEntry('links', 'github');
---

<nav class="navbar">
	<div class="navbar-container">
		<NavbarLogo />

		<button class="navbar-menu-button" type="button" aria-label="Open menu">
			<span class="line line-01"></span>
			<span class="line line-02"></span>
		</button>

		<ul class="navbar-menu lg:space-x-48 translate-x-full lg:translate-x-0">
			<li>
				<a class="navbar-menu-link" href={translatePath('/projects')}>{t('nav.projects')}</a>
			</li>

			<li>
				<a class="navbar-menu-link" href={translatePath('/contact')}>{t('nav.contact')}</a>
			</li>

			<li>
				<a class="navbar-menu-link" href={github?.data.url} target="_blank">{github?.data.name}</a>
			</li>

            <li>
                <LanguagePicker />
            </li>
		</ul>
	</div>
</nav>

<script>
	/**
	 * Mobile menu button
	 */
	const body = document.body as HTMLBodyElement;
	const navbarMenu = document.querySelector('.navbar-menu') as HTMLUListElement;
	const navbarMenuButton = document.querySelector('.navbar-menu-button') as HTMLButtonElement;

	const toggleMenuOpen = () => {
		if (window.innerWidth > 1024) return;

		body.classList.toggle('overflow-hidden');
		navbarMenuButton.classList.toggle('navbar-menu-button__open');
		navbarMenu.classList.toggle('translate-x-full');
	};

	if (navbarMenuButton) {
		navbarMenuButton.addEventListener('click', () => toggleMenuOpen());
	}

	/**
	 * Close mobile menu on click
	 */
	const navbarMenuLinks = document.querySelectorAll('.navbar-menu-link') as NodeListOf<HTMLAnchorElement>;

	navbarMenuLinks.forEach((link) => {
		link.addEventListener('click', () => toggleMenuOpen());
	});

	/**
	 * Active page link
	 */
	document.addEventListener('astro:page-load', () => {
		navbarMenuLinks.forEach((link) => {
			link.classList.remove('navbar-menu-link__active');

			let pathname: string = window.location.pathname;

			if (pathname.endsWith('/')) {
				pathname = pathname.slice(0, -1);
			}

            if (pathname.startsWith('/sk')) {
                pathname = pathname.replace('/sk', '');
            }

			const currentPath = pathname.slice(1);
			const hrefArray = link.href.split('/');
			const thisPath = hrefArray[hrefArray.length - 1];

			if (currentPath === thisPath) {
				link.classList.add('navbar-menu-link__active');
			}
		});
	});
</script>
