<div class="size-112 fixed top-0 left-0 hidden lg:flex justify-center items-center scale-[0.15] z-100 rounded-full font-extrabold text-sm pointer-events-none bg-primary-300 duration-300 transition-transform" data-hover-element>
    <span class="opacity-0 transition-opacity" data-hover-element-text>
        Zobraziť
    </span>
</div>

<script>
    import gsap from 'gsap';

    document.addEventListener('astro:page-load', (event: any) => {
        if (window.innerWidth <= 1024) return;

        const hoverElement = document.querySelector('[data-hover-element]') as HTMLDivElement;
        const hoverElementText = document.querySelector('[data-hover-element-text]') as HTMLSpanElement;

        const updateCoords = (event: MouseEvent) => {
            const { clientX, clientY } = event;
            const newX = clientX - 56;
            const newY = clientY - 61;

            gsap.to(hoverElement, {
                left: newX,
                top: newY,
                duration: 0.3,
            });
        }

        window.onmousemove = (event) => {
            requestAnimationFrame(() => updateCoords(event));
        }

        const elements = document.querySelectorAll('a, button') as NodeListOf<HTMLAnchorElement | HTMLButtonElement>;

        elements.forEach((element) => {
            element.onmouseenter = (event: MouseEvent) => {
                const hoveredOver = event.target as HTMLDivElement;

                if (hoveredOver.classList.contains('projects-item')) {
                    hoverElement.classList.add('!scale-100');
                    hoverElementText.classList.remove('opacity-0', 'bg-primary-200');
                } else { 
                    hoverElement.classList.add('!scale-0');
                }
            }

            element.onmouseleave = () => {
                hoverElement.classList.remove('!scale-100', '!scale-0', 'bg-primary-200');
                hoverElementText.classList.add('opacity-0');
            }
        });
    });
</script>
