---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Tech from '../components/Tech.astro';
import Experience from '../components/Experience.astro';
import Button from '../components/ui/Button.astro';
import { Icon } from 'astro-icon/components';

const projects = await getCollection('work');
---

<Layout
	title="Myžo | Web Developer"
	description="Premieňam vaše nápady na rýchle, responzívne a moderné weby a aplikácie, ktoré poskytujú intuitívny a výnimočný používateľský zážitok"
>
	<header class="relative">
		<figure class="w-full md:h-full lg:h-auto absolute -top-80 lg:-top-120 left-0 -z-10 opacity-90">
			<picture>
				<source media="(max-width: 768px)" srcset="/images/hero-gradient-mobile.webp" type="image/webp" />
				<source media="(max-width: 768px)" srcset="/images/hero-gradient-mobile.png" type="image/png" />
				<source srcset="/images/hero-gradient.webp" type="image/webp" />
				<img src="/images/hero-gradient.png" alt="Gradient mesh" />
			</picture>
		</figure>

		<section class="section-offset-first container relative">
			<article class="max-w-[926px]">
				<h1 class="display mb-96 lg:mb-112 font-semibold">Vylepšite svoju online identitu</h1>

				<p class="pl-16 md:pl-24 py-10 md:py-16 max-w-[507px] md:text-subheading border-l border-neutral-100 text-neutral-40">
					Premieňam vaše nápady na rýchle, responzívne a moderné weby a aplikácie, ktoré poskytujú intuitívny
					a výnimočný používateľský zážitok
				</p>
			</article>

			<aside class="hidden md:block absolute top-1/2 -translate-y-1/2 right-24 writing-vertical">
				<p class="flex items-center font-extrabold orientation-sideways">
					Development
					<span class="text-primary-300">&nbsp;&&nbsp;</span>
					Dizajn

					<span class="mt-24">
						<img src="/images/hero-arrow.svg" alt="Arrow down icon" />
					</span>
				</p>
			</aside>
		</section>
	</header>

	<section class="section-offset-bottom container">
		<header class="mb-24 flex justify-between items-center text-neutral-80">
			<p class="uppercase text-xs font-extrabold">Najnovšie práce</p>

			<figure class="size-24">
				<Icon name="down-left-arrow" />
			</figure>
		</header>

		<Projects projects={projects.slice(0, 4)} />

		<footer class="mt-72 md:mt-96 flex justify-center">
			<Button href="/projekty" style="light" size="sm">Zobraziť všetky práce</Button>
		</footer>
	</section>

	<section class="section-offset-bottom container">
		<h2 class="mb-32 md:mb-64 max-w-[500px] font-semibold">Čo vám dokážem ponuknúť?</h2>
		<Skills />
		<Tech />
	</section>

	<section class="section-offset-bottom container grid grid-cols-12 gap-16">
		<header class="col-span-12 lg:col-span-4">
			<h2 class="mb-32 font-semibold">Pracovné skúsenosti</h2>
		</header>

		<Experience />
	</section>
</Layout>
