---
import Layout from '../layouts/Layout.astro';
import Button from '../components/ui/Button.astro';
---

<Layout 
    title="Myžo | Kontakt" 
    description="Ak máte nejaké otázky, spätnú väzbu alebo si len chcete pokecať, som samé ucho! Či už je to rýchly pozdrav alebo rozsiahla správa, napíšte mi a ja sa vám ozvem čo najskôr."
>
    <section class="section-offset container pt-64 lg:pt-136">
        <header class="mb-96 lg:mb-112 lg:gap-48 grid grid-cols-12 items-end">
            <h2 class="h1 mb-32 lg:mb-0 col-span-12 lg:col-span-7">Napíšme si o <br /> vašom nápade</h2>
            <p class="mb-0 lg:mb-8 col-span-12 lg:col-span-5 text-neutral-40">
                Ak máte nejaké otázky, spätnú väzbu alebo si len chcete pokecať, som samé ucho! Či už je to rýchly pozdrav alebo rozsiahla správa, napíšte mi a ja sa vám ozvem čo najskôr.
            </p>
        </header>

        <div class="lg:gap-48 grid grid-cols-12">
            <div class="col-span-12 lg:col-span-7 mb-96 lg:mb-0">
                <form action="">
                    <div class="space-y-24 flex flex-col">
                        <input type="text" placeholder="Meno">
                        <input type="text" placeholder="Email">
                        <textarea name="" id="" placeholder="Správa"></textarea>
                    </div>

                    <Button class="mt-40" type="submit" size='sm'>Odoslať správu</Button>
                </form>
            </div>

            <aside class="col-span-12 md:col-span-5">
                <div>
                    <p class="text-xs md:text-sm font-extrabold">Email</p>
                    <p class="text-neutral-80">hello@myzo.sk</p>
                </div>
            </aside>
        </div>
    </section>
</Layout>