---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Button from '../components/ui/Button.astro';
import { Icon } from 'astro-icon/components';
import type { CollectionEntry } from 'astro:content';

const links: CollectionEntry<'links'>[] = await getCollection('links');
---

<Layout
	title="Kontakt | Myžo"
	description="Ak máte otázku, spätnú väzbu, alebo si len chcete pokecať, som samé ucho! Či už je to rýchly pozdrav alebo dlhšia správa, napíšte mi a ja sa vám ozvem čo najskôr."
>
	<section class="section-offset-first container">
		<header class="mb-96 lg:mb-112 lg:gap-48 grid grid-cols-12 items-end">
            <div class="col-span-12 lg:col-span-7 mb-32 lg:mb-0 relative">
                <h2 class="max-w-[400px] font-semibold">Povedzte mi o vašom nápade</h2>

                <figure class="arrow-bottom-right">
                    <Icon name="down-right-arrow" class="size-24 hidden lg:block text-white" />
                    <Icon name="down-left-arrow" class="size-24 lg:hidden text-white" />
                </figure>
            </div>

			<p class="mb-0 lg:mb-8 col-span-12 lg:col-span-5 text-neutral-40">
				Ak máte otázku, spätnú väzbu alebo si chcete len pokecať, som samé ucho! Či už je to rýchly pozdrav
				alebo dlhšia správa, napíšte mi a ja sa vám ozvem čo najskôr.
			</p>
		</header>

		<div class="lg:gap-48 grid grid-cols-12">
			<div class="col-span-12 lg:col-span-7 mb-96 lg:mb-0">
				<form method="POST" data-contact-form>
					<div class="space-y-24 flex flex-col">
						<input type="text" name="name" placeholder="Meno" required />
						<input type="text" name="email" placeholder="Email" required />
						<textarea name="text" placeholder="Správa" required></textarea>
					</div>

                    <div class="flex justify-end">
                        <Button class="mt-40" type="submit" size="sm" style="primary" data-contact-form-submit>Odoslať správu</Button>
                    </div>
				</form>
			</div>

			<aside class="col-span-12 md:col-span-5 space-y-32">
				<div>
					<small class="text-neutral-80">Email</small>
					<a class="contact-link underline" href="mailto:hello@myzo.sk">hello@myzo.sk</a>
				</div>

				<div>
					<small class="text-neutral-80">Kde ma nájdete?</small>
					<p class="contact-link">Žilina, Slovensko</p>
				</div>

				<div>
					<small class="text-neutral-80">Odkazy</small>

					<ul>
						{
							links.map((link) => (
								<li>
									<a class="contact-link underline" href={link.data.url}>
										{link.data.name}
									</a>
								</li>
							))
						}
					</ul>
				</div>
			</aside>
		</div>
	</section>
</Layout>

<script>
	const contactForm = document.querySelector('[data-contact-form]') as HTMLFormElement;
	const contactFormSubmit = document.querySelector('[data-contact-form-submit]') as HTMLButtonElement;

	if (contactForm) {
		contactForm.onsubmit = (event: any) => {
			event.preventDefault();
			getFromData(contactForm);
		};
	}

	const getFromData = async (form: HTMLFormElement) => {
		const formData = new FormData(form);

		const formValues = Array.from(formData.values()) as string[];
		const trimmedFormValues = formValues.map((value) => value.trim()) as string[];

		if (trimmedFormValues.includes('')) {
			return;
		}

		let isLoading = false;

		if (!isLoading) {
			isLoading = true;
			contactFormSubmit.disabled = true;

			const response = await fetch('https://contact.myzo.sk', {
				method: 'POST',
				body: formData,
			});

			const data: any = await response.json();

			if (data) {
				isLoading = false;
				contactFormSubmit.disabled = false;
			}

			if (data.type === 'success') {
				form.reset();
			}
		}
	};
</script>
