---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
import { Icon } from 'astro-icon/components';
import type { CollectionEntry } from 'astro:content';

const links: CollectionEntry<'links'>[] = await getCollection('links');
---

<Layout
	title="Kontakt | Myžo"
	description="Ak máte otázku, spätnú väzbu alebo si chcete len pokecať, som samé ucho! Či už je to rýchly pozdrav alebo dlhšia správa, napíšte mi a ja sa vám ozvem čo najskôr."
>
	<section class="section-offset-first container">
		<article class="mb-96 lg:mb-112 lg:gap-48 grid grid-cols-12 items-end">
			<div class="col-span-12 lg:col-span-7 mb-32 lg:mb-0 relative">
				<h2 class="max-w-[400px] font-semibold">Máte otázku? Napíšme si</h2>

				<figure class="arrow-bottom-right">
					<Icon name="down-right-arrow" class="size-24 hidden lg:block text-white" />
					<Icon name="down-left-arrow" class="size-24 lg:hidden text-white" />
				</figure>
			</div>

			<p class="mb-0 lg:mb-5 col-span-12 lg:col-span-5 text-neutral-40">
				Ak máte otázku, spätnú väzbu alebo si chcete len pokecať, som samé ucho! Či už je to rýchly pozdrav
				alebo dlhšia správa, napíšte mi a ja sa vám ozvem čo najskôr.
			</p>
		</article>

		<div class="lg:gap-48 grid grid-cols-12">
			<div class="col-span-12 lg:col-span-7 mb-96 lg:mb-0">
				<ContactForm />
			</div>

			<aside class="col-span-12 md:col-span-5 space-y-32">
				<div>
					<small class="text-neutral-80">Email</small>
					<a class="contact-link underline" href="mailto:hello@myzo.sk">hello@myzo.sk</a>
				</div>

				<div>
					<small class="text-neutral-80">Kde ma nájdete?</small>
					<p class="contact-link">Žilina, Slovensko</p>
				</div>

				<div>
					<small class="text-neutral-80">Odkazy</small>

					<ul>
						{
							links.map((link) => (
								<li>
									<a class="contact-link underline" href={link.data.url} target="_blank">
										{link.data.name}
									</a>
								</li>
							))
						}
					</ul>
				</div>
			</aside>
		</div>
	</section>
</Layout>