---
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
import projects from '../../projects';
---

<Layout title="Projekty" description=''>
    <section class="section-offset container pt-64 lg:pt-136">
        <h2 class="display pb-96 mb-112 border-b border-neutral-600">Od Figma dizajnu <br /> po hotový projekt</h2>
        <Projects projects={ projects } />
    </section>
</Layout>