---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
import { Icon } from 'astro-icon/components';

const projects = await getCollection('work');
---

<Layout title="Projekty | Myžo" description="Od dizajnu vo Figme k hotovému produktu">
	<section class="section-offset-first container">
		<header class="mb-96 lg:mb-112 relative">
			<h2 class="max-w-[700px]">Od dizajnu vo Figme k hotovému produktu</h2>

			<figure class="arrow-bottom-right">
				<Icon name="down-left-arrow" class="size-24 text-white" />
			</figure>
		</header>

		<Projects projects={projects} />
	</section>
</Layout>
