---
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
import { Icon } from 'astro-icon/components';
import projects from '../../projects';
---

<Layout title="Myžo | Projekty" description="Od Figma dizajnu po hotový produkt">
    <section class="section-offset container pt-64 lg:pt-136">
        <header class="mb-112 flex justify-between items-end">
            <h2 class="h1">Od dizajnu vo Figme <br /> k hotovému produktu</h2>

            <figure class="mb-9 size-24">
                <Icon name="down-left-arrow" class="text-white" />
            </figure>
        </header>

        <Projects projects={ projects } />
    </section>
</Layout>