---
import Button from './ui/Button.astro';
---

<form method="POST" data-contact-form>
	<div class="space-y-24 flex flex-col">
		<input type="text" name="name" placeholder="Meno" />
		<input type="text" name="email" placeholder="Email" />
		<textarea name="text" placeholder="Správa"></textarea>
	</div>

	<div class="flex justify-end">
		<Button class="mt-40" type="submit" size="sm" style="primary" data-contact-form-submit>Odoslať správu</Button>
	</div>
</form>

<script>
    import Swal from 'sweetalert2';
    import 'sweetalert2/dist/sweetalert2.min.css';
    
    document.addEventListener('astro:page-load', () => {
		const contactForm = document.querySelector('[data-contact-form]') as HTMLFormElement;
		const contactFormSubmit = document.querySelector('[data-contact-form-submit]') as HTMLButtonElement;

		if (contactForm) {
			contactForm.onsubmit = (event: any) => {
				event.preventDefault();
				getFromData(contactForm);
			};
		}

		const getFromData = async (form: HTMLFormElement) => {
			const formData = new FormData(form);
			let isLoading = false;

			if (isLoading) return;

			isLoading = true;
			contactFormSubmit.disabled = true;

			const response = await fetch('https://contact.myzo.sk', {
				method: 'POST',
				body: formData,
			});

			const data: { message: string; type: 'success' | 'error' } = await response.json();

			if (data) {
				isLoading = false;
				contactFormSubmit.disabled = false;

				Swal.fire({
					text: data.message,
					icon: data.type,
					showConfirmButton: false,
					timer: 2500,
					customClass: {
						popup: 'text-white bg-neutral-800',
					},
				});
			}

			if (data.type === 'success') {
				form.reset();
			}
		};
	});
</script>
