---
import { Icon } from 'astro-icon/components';
import type { CollectionEntry } from 'astro:content';

interface Props {
	experience: CollectionEntry<'experience'>[];
}

const { experience } = Astro.props;
---

<ul class="col-span-12 lg:col-span-8">
	{
		experience.map((item) => (
			<li class="py-24 first:pt-0 flex justify-between items-center border-b border-neutral-600">
				<div class="flex items-center">
					<figure class="p-10 mr-16 rounded-8 bg-primary-300">
						<Icon name={`experience/${item.data.icon}`} class="size-24" />
					</figure>

					<article>
						<p class="text-sm md:text-base font-extrabold">{item.data.title}</p>
						<p class="-mt-2 text-sm md:text-base text-neutral-80">{item.data.role}</p>
					</article>
				</div>

				<small class="text-xs md:text-sm font-extrabold text-neutral-80">{item.data.year}</small>
			</li>
		))
	}
</ul>
