---
import ProjectsItem from './ProjectsItem.astro';
import projects from '../../projects';
---

<ul class="gap-x-24 lg:gap-x-48 gap-y-80 lg:gap-y-96 grid grid-cols-1 md:grid-cols-2">
    {projects.slice(0, 4).map(project => <ProjectsItem project={project} />)}
</ul>

<div class="mt-72 md:mt-96 flex justify-center">
    <slot />
</div>