---
import { Image } from 'astro:assets';
import type { Project } from "../../types";

type Props = {
    projects: Project[];
}

const { projects } = Astro.props;
---

<ul class="gap-x-24 lg:gap-x-48 gap-y-72 lg:gap-y-96 grid grid-cols-1 md:grid-cols-2">
    {projects.map(project => (
        <li>
            <a class="w-full group" href={ project.url } target="_blank">
                <div class="aspect-w-1 aspect-h-1 rounded-24 bg-neutral-800" style={ `background-color: ${project.backgroundColor}` }>
                    <figure class="p-24 md:p-32 flex justify-center items-center">
                        <Image 
                            class="h-auto rounded-8 transition-transform duration-300 group-hover:scale-[1.025]" 
                            src={ `/images/projects/${project.slug}.png` } 
                            alt={ project.name }
                            width={500}
                            height={293}
                            loading="lazy"
                        />
                    </figure>
                </div>
            
                <div class="py-16 lg:py-24 flex justify-between items-center border-b border-neutral-600 transition-opacity duration-300 group-hover:opacity-70">
                    <h4>{ project.name }</h4>
                    <small class="text-xs md:text-sm text-neutral-80">{ project.role }</small>
                </div>
            </a>
        </li>
    ))}
</ul>