---
import type { Project } from '../../types';

type Props = { 
    project: Project;
}

const { project } = Astro.props;
---

<li>
    <a class="w-full group" href={ project.url }>
        <div class="aspect-w-1 aspect-h-1 rounded-24 bg-neutral-800">
            <figure class="p-24 md:p-32 flex justify-center items-center">
                <img class="h-auto rounded-8 transition-transform duration-500 group-hover:scale-[1.025]" src={ `/images/projects/${project.slug}.png` } alt="">
            </figure>
        </div>
    
        <div class="py-24 flex justify-between items-center border-b border-neutral-600">
            <h4>{ project.name }</h4>
            <small class="text-neutral-80">{ project.role }</small>
        </div>
    </a>
</li>