---
import { Icon } from 'astro-icon/components';
import type { CollectionEntry } from 'astro:content';

interface Props {
	skills: CollectionEntry<'skills'>[];
}

const { skills } = Astro.props;
---

<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:gap-x-48 gap-y-56">
	{
		skills.map((skill) => (
			<li>
				<Icon name="down-right-arrow" class="-ml-6 size-24 text-neutral-80" />

				<h3 class="py-[21px] mb-24 border-b border-neutral-600">{skill.data.heading}</h3>

				<p class="text-neutral-40">{skill.data.text}</p>
			</li>
		))
	}
</ul>