---
import type { Tech } from '../../types';

const tech: Tech[] = [
	{ name: 'HTML', icon: 'html' },
	{ name: 'CSS', icon: 'css' },
	{ name: 'SASS', icon: 'sass' },
	{ name: 'TailwindCSS', icon: 'tailwindcss' },
	{ name: 'Bootstrap', icon: 'bootstrap' },
	{ name: 'JavaScript/TypeScript', icon: 'javascript' },
	{ name: 'React.js/Next.js', icon: 'reactjs' },
	{ name: 'Vue.js/Nuxt.js', icon: 'vuejs' },
	{ name: 'Astro.js', icon: 'astrojs' },
	{ name: 'Alpine.js', icon: 'alpinejs' },
	{ name: 'PHP', icon: 'php' },
	{ name: 'Laravel', icon: 'laravel' },
	{ name: 'OctoberCMS', icon: 'octobercms' },
	{ name: 'GitHub/GitLab', icon: 'git' },
	{ name: 'Figma', icon: 'figma' },
	{ name: 'Photoshop', icon: 'photoshop' },
	{ name: 'Illustrator', icon: 'illustrator' }
];
---

<footer class="mt-96 lg:mt-112 overflow-hidden">
	<header class="mb-16 flex justify-between items-center text-neutral-80">
		<p class="uppercase text-xs font-extrabold">Pracoval som s...</p>
	</header>

	<ul class="tech-carousel flex items-center">
		{
			tech.map((item) => (
				<li class="flex items-center shrink-0">
					<figure class="p-8 rounded-8 bg-neutral-800">
						<img
							class="size-24"
							src={`/images/tech/${item.icon}.svg`}
							alt={item.name}
						/>
					</figure>

					<p class="pl-16 pr-64 md:pr-80 text-subheading font-extrabold">{item.name}</p>
				</li>
			))
		}
	</ul>
</footer>

<script>
	import gsap from 'gsap';

	document.addEventListener('astro:page-load', () => {
		const carousel = document.querySelector('.tech-carousel') as HTMLUListElement;
		const carouselItems: HTMLLIElement[] = Array.from(document.querySelectorAll('.tech-carousel li'));
		const totalWidth: number = carouselItems.reduce((total, item) => total + item.offsetWidth, 0);

		if (carousel) {
			// Duplicate the carousel content to create an infinite effect
			gsap.set(carousel, { width: totalWidth * 2 });
			carousel.innerHTML += carousel.innerHTML;

			gsap.to(carousel, {
				x: -totalWidth,
				duration: 40,
				ease: 'linear',
				repeat: -1
			});
		}
	});
</script>
