---
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import AppNavbar from '../components/layout/AppNavbar.astro';
import AppFooter from '../components/layout/AppFooter.astro';
import MouseElement from '../components/layout/MouseElement.astro';

import '../assets/css/app.css';

type Props = {
	title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="sk">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={ Astro.generator } />

        <meta name="title" content={ title } />
        <meta name="description" content={description} />
        <meta name="og:title" content={ title } />
        <meta name="og:description" content={description} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{ title }</title>

        <ViewTransitions />
	</head>
	<body>
        <MouseElement />
        
        <header>
            <AppNavbar />
        </header>

        <main transition:animate="fade">
            <slot />
        </main>

        <footer transition:persist>
            <AppFooter />
        </footer>
	</body>
</html>