---
import { getLangFromUrl } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const label = lang === 'en' ? 'SK' : 'EN';
---

<a
    class="pt-2 size-40 flex justify-center items-center text-sm font-bold rounded-full bg-neutral-700 hover:bg-neutral-600 transition-colors"
    href=""
    data-lang-switch
    data-astro-reload
>
    {label}
</a>

<script>
    document.addEventListener('astro:page-load', () => {
        const langSwitch = document.querySelector('[data-lang-switch]') as HTMLAnchorElement;
    
        let pathname: string = window.location.pathname;
    
        if (pathname.startsWith('/sk')) {
            pathname = pathname.replace('/sk', '');
        } else {
            pathname = '/sk' + pathname;
        }
    
        langSwitch.href = pathname;
    });
</script>
